<!-- JS Dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous" defer></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<script>
let testimonialSlider = tns({
  container: '.testimonial-slider',
  mouseDrag: true,
  items: 1,
  loop: false,
  responsive: {
      640: {
        items: 2
      },
      700: {
      },
      900: {
        items: 2,
      }
  }
});
</script>