{% if include.data.image %}
  {% assign copy_column_classes = 'md:w-3/5' %}
  {% assign copy_container_classes = '' %}
  {% assign cta_container_classes = '' %}  
{% else if %}
  {% assign copy_column_classes = 'md:w-full flex' %}
  {% assign copy_container_classes = 'sm:w-1/2' %}
  {% assign cta_container_classes = 'sm:w-1/2 flex items-center justify-end' %}
{% endif %}



<section class="hero bg-{{ include.data.background-color }} relative mt-0">     
    <div class="container stretch-column-to-edge text-white">
        <div class="row">
            
            {% if include.data.image %}
            <div class="md:w-2/5 stretch-column-to-edge__this">
                <div class="stretch-column-to-edge__inner aspect-w-3 aspect-h-1 relative md:w-2/5 stretch-to-edge md:aspect-none md:absolute md:h-full">
                    <img src="{{ include.data.image }}" class="object-cover md:absolute md:w-full md:h-full md:object-cover">
                </div>
            </div>
            {% endif %}

            <div class="col py-10 {{ copy_column_classes }}">
                <div class="{{ copy_container_classes }}">
                    {% if include.data.preheader %}
                    <h4>{{ include.data.preheader }} </h4>                
                    {% endif %}

                    {% if include.data.title %}
                    <h2>{{ include.data.title }}</h2>
                    {% endif %}
                    
                    {% if include.data.copy %}
                    <p>{{ include.data.copy }}</p>
                    {% endif %}
                </div>
                <div class="{{ cta_container_classes }}">
                    {% if include.data.cta-link %}
                    <a href="{{ include.data.cta-link }}" class="btn text-white btn-{{ include.data.cta-color | default: 'transparent' }} border-white border-1 border-solid"> 
                        {{ include.data.cta-label | default: 'Learn More' }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>         
  </section>