<div class="flex flex-wrap">        
  {% for item in site.data.key-outcomes %}
    <div class="w-1/2 lg:w-1/4 text-center flex flex-col" >
      <div class="flex justify-center items-end flex-grow {{ include.graph_class }}" style="height:{{ include.height | default: '200px' }};">
        {% for bar in item.bars %}
          <div class="w-8 bg-{{ bar.color }}" style="height:{{ bar.height }}%; width:{{ include.bar_width | default: '32px' }};"></div>
        {% endfor %}
      </div>
      <h2 class="{{include.headline_class}}">
        {% if include.title_length == "long" %}
          {{ item.long-name }}
        {% else %}
          {{ item.name }}
        {% endif %}
      </h2>
    </div> 
  {% endfor %}       
</div>