
<section>
    <div class="container">
      <div class="row">
          {% for item in site.data.pricing %}
          <div class="col md:w-1/3 p-5 bg-gray-100 border-t-8 border-{{ item.color }} m-5">
              <h3 class="title">{{item.name}}</h3>
              <p class="description">{{item.description}}</p>
              
              {% if item.cta %}
              <div class="link">
                  {% for cta in item.cta %}
                  <a href="{{ cta.link }}" class="btn  text-white border-white border-1 border-solid text-lg my-5 bg-{{ item.color }}">{{ cta.label }}</a>
                  {% endfor %}
              </div>
              {% endif %}
              
              {% if item.bullets %}
              <ul>
                  {% for bull in item.bullets %}
                  <li>{{ bull }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
  
              <a href="/contact" class="color-orangered text-lg">Contact Us</a>
  
  
          </div>
          {% endfor %}
      </div>
      
    </div>
  </section>