<section class="relative m-0">
  <div class="extend-bkg-to-edge--left bg-red"></div>
    <div class="container">
      <div class="row">
        
        <div class="col md:w-1/2 bg-red py-10 text-white">
          <h1>Stay Connected</h1>
          <p>Want to increase engagement, compassion, performance and productivity? We'dlove to hear from you</p>    
          <a href="/contact" class="btn text-white border-white border-1 border-solid">Contact Us</a>    
        </div>

        <div class="col md:w-1/2  py-10">
          <h2>Subscribe to our newsletter</h2>
        </div>

      </div>
    </div>      
  </div>
</section>

