/* Look for the variable "--medium-max-container-width" defined in "base/variables" */

.stretch-column-to-edge{
    @apply md:px-0;        
}
.stretch-column-to-edge .row{
    @apply md:-mx-0;
}
.stretch-column-to-edge .col{
    
}
.stretch-column-to-edge__inner{
    @apply md:h-full md:absolute;
}
.stretch-column-to-edge__this:first-child .stretch-column-to-edge__inner{
    @apply md:left-0;
}

/* This is the browse width where the layout has gutters on each side */
@media screen and (min-width:1150px){
    .stretch-column-to-edge__inner.md\:w-1\/2{
        width: calc(((var(--medium-max-container-width) / 2)) + ((100% - var(--medium-max-container-width)) / 2));   
    }
    .stretch-column-to-edge__inner.md\:w-1\/3{
        width: calc(((var(--medium-max-container-width) / 3)) + ((100% - var(--medium-max-container-width)) / 2));   
    }
    .stretch-column-to-edge__inner.md\:w-2\/3{
        width: calc(((var(--medium-max-container-width) / 3) * 2) + ((100% - var(--medium-max-container-width)) / 2));   
    }
    .stretch-column-to-edge__inner.md\:w-1\/4{
        width: calc(((var(--medium-max-container-width) / 4)) + ((100% - var(--medium-max-container-width)) / 2));   
    }
    .stretch-column-to-edge__inner.md\:w-3\/4{
        width: calc(((var(--medium-max-container-width) / 4) * 3) + ((100% - var(--medium-max-container-width)) / 2));   
    }
    .stretch-column-to-edge__inner.md\:w-1\/5{
        width: calc(((var(--medium-max-container-width) / 5)) + ((100% - var(--medium-max-container-width)) / 2));   
    }
    .stretch-column-to-edge__inner.md\:w-4\/5{
        width: calc(((var(--medium-max-container-width) / 5) * 4) + ((100% - var(--medium-max-container-width)) / 2));   
    }
    .stretch-column-to-edge__inner.md\:w-3\/5{
        width: calc(((var(--medium-max-container-width) / 5) * 3) + ((100% - var(--medium-max-container-width)) / 2));   
    }
    .stretch-column-to-edge__inner.md\:w-2\/5{
        width: calc(((var(--medium-max-container-width) / 5) * 2) + ((100% - var(--medium-max-container-width)) / 2));   
    }
}


/* This extends a color from the edge of a container to the edge of the browser */
.extend-bkg-to-edge--left,
.extend-bkg-to-edge--right{
    @apply absolute top-0 bottom-0;
    width: calc((100% - var(--medium-max-container-width) ) / 2);
}
.extend-bkg-to-edge--left{
    @apply left-0;
}
.extend-bkg-to-edge--right{
    @apply right-0;
}