---
layout: page
title: Programs
---

<div class="container">
    This is the programs page

    <section>
        <h3>Introduction</h3>
    </section>

    <section>     
      <div class="container">
        {% include components/key-outcomes.html height="200px" title_length="long" %}      
      </div>         
    </section>

    <section>
        <h3>Our Programs</h3>

     
        {% assign num_programs = site.programs | size %}
        {% if num_programs < 1 %}
          <div id="programs">
            <p class="h3 my-5 editable">No Programs at this time</p>
          </div>
        {% endif %}
        
        {% for program in site.programs %}
            <div class="row mb-5">
                <div data-cms-editor-link-style="modal" data-cms-editor-link="cloudcannon:#programs" class="col-md-4 cms-editor-link bg-dark">
                    <img width="100%" src="{{ program.featured_image }}" alt="{{ program.title }}"/>
                </div>
                <div data-cms-editor-link-style="modal" data-cms-editor-link="cloudcannon:#programs" class="col-md-8 cms-editor-link p-4 bg-light">

                    <h4>{{ program.title }}</h4>
                    <h5 class="text-gray">{{ program.location }}</h5>
                    <div class="summary">
                        {{ program.summary }}
                    </div>
                    <a href="{{ program.url }}" class="btn btn-dark mt-5"> View Program Page </a>
                   
            </div>
            </div>
        {% endfor %}

          
    </section>

    <section>
        <h3>Pricing Intro</h3>
    </section>
</div>
