---
layout: page
title: Project Template
object:
---


{% include components/hero.html title="Home" %}


<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1>YOL is a learning & wellbeing company</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor lacus in ex lacinia, in mattis ipsum pretium. Nunc nec diam velit. Vivamus at sapien eu odio commodo suscipit a at mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eget urna fermentum, ullamcorper diam pharetra, maximus odio.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 ">
        <figure>
          <img src="http://fpoimg.com/150?text=Icon" alt="FPO Icon" class="rounded-circle">
          <figcaption>
            <h2>Supported by Science</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor lacus in ex lacinia, in mattis ipsum pretium. Nunc nec diam velit. Vivamus at sapien eu odio commodo suscipit a at mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eget urna fermentum, ullamcorper diam pharetra, maximus odio.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-4">
        <figure>
          <img src="http://fpoimg.com/150?text=Icon" alt="FPO Icon" class="rounded-circle">
          <figcaption>
            <h2>Workplace Wellness</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor lacus in ex lacinia, in mattis ipsum pretium. Nunc nec diam velit. Vivamus at sapien eu odio commodo suscipit a at mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eget urna fermentum, ullamcorper diam pharetra, maximus odio.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-4">
        <figure>
          <img src="http://fpoimg.com/150?text=Icon" alt="FPO Icon" class="rounded-circle">
          <figcaption>
            <h2>Shred Purpose</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor lacus in ex lacinia, in mattis ipsum pretium. Nunc nec diam velit. Vivamus at sapien eu odio commodo suscipit a at mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eget urna fermentum, ullamcorper diam pharetra, maximus odio.</p>
          </figcaption>
        </figure>
      </div>
    </div>

  </div>
</section>





<section class="bg-dark p-0 overflow-hidden">
  <div class="container">
    <div class="row ">
      <div class="col-md-9 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
      <div class="col-md-3 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge-md edge-right">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary p-0 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-8 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
      <div class="col-md-4 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge-lg edge-right">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary p-0 overflow-hidden">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
      <div class="col-md-6 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge edge-right">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark p-0 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-4 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
      <div class="col-md-8 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge edge-right">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-info p-0 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-3 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
      <div class="col-md-9 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge edge-right">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
    </div>
    

  </div>

</section>







<section class="bg-dark p-0 overflow-hidden">
  <div class="container">
    <div class="row ">
      <div class="col-md-3 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge edge-left">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
      <div class="col-md-9 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary p-0 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge edge-left">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
      <div class="col-md-8 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary p-0 overflow-hidden">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge edge-left">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
      <div class="col-md-6 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark p-0 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-8 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge edge-left">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
      <div class="col-md-4 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-info p-0 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-9 p-0 bg-success position-relative">
        <div class="img-stretch-to-edge edge-left">
          <img src="http://fpoimg.com/600x300?text=Preview" alt=" Image Alt">
        </div>
      </div>
      <div class="col-md-3 py-5">
        <h2 class="section-subtitle">What does YOL Do?</h2>
        <p class="h3">We increase engagement, compassion, performance, and productivity within your team</p>
      </div>
    </div> 
  </div>
</section>



<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include components/HelloWorld.html %}
      </div>
    </div>
  </div>
</section>
